:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark: hsl(229, 23%, 23%);
  --dark-grayish: hsl(227, 10%, 46%);
	--dark-gray: hsl(0,0%,59%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10 px
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dark-cyan);
	background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
	background-repeat: no-repeat no-repeat;
	background-position:right 50vw bottom 50vh, left 50vw top 50vh;
}

h1{
	font-size: 3rem;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card{ 
	background-color: white;
	width: 326px;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 1px 4px 5px rgba(0,0,0,0.7);

	&-header{
		width: 100%;
		display: block;
	}
	&-body{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid var(--dark-gray);

		&-img{
			border: 5px solid white;
			border-radius: 50%;
			margin-top: -52px;
			background-color: white;
		}
		&-title{
			margin-top: 2rem;
			font-size: 1.8rem;

			span{
				color:var(--dark-gray);
				font-weight: 400;
				//margin-left: 0.5rem;;
			}
		}
		&-text{
			color: var(--dark-gray);
			font-size: 1.6rem;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}
	&-footer{
		display: flex;
		justify-content: space-evenly;

		&-social{
			text-align: center;

			h3{
				margin-top: 2rem;
				margin-bottom: 0.5rem;
				font-size: 2rem;
				color: var(--very-dark);
			}
			p{
				margin-top: 0;
				margin-bottom: 3rem;
				letter-spacing: 1px;
				color: var(--dark-gray);
				font-weight: 700;
				font-size: 1.2rem;
			}
		}
	}
}
